* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
    overflow-y: auto; /* Allow vertical scrolling if content exceeds viewport */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures the footer sticks to the bottom */
}

header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Needed for z-indexing */
    z-index: 1; /* Ensure header stays on top of other content */
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo-img {
    width: 50px;
    margin-right: 10px;
}

.logo-text {
    display: flex;
    align-items: center;
}

.logo-text i {
    margin-right: 5px;
}

.logo-text span {
    font-family: 'Helvetica', sans-serif;
    font-size: 35px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.btn,
nav ul li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover,
nav ul li a:hover {
    background-color: red;
    color: white;
    transform: scale(1.05);
}

.hero {
    background-image: url('../pictures/background1.jpeg');
    background-size: cover; /* Adjust as needed */
    background-position: center;
    color: white;
    text-align: center;
    padding: 240.5px 0;
    position: relative; /* Needed for z-indexing */
    z-index: 0; /* Ensure hero background stays behind other content */
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    padding: 30px;
    border-radius: 10px;
    max-width: 800px; /* Adjust width as needed */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
    position: relative; /* Needed for z-indexing */
    z-index: 1; /* Ensure content stays on top of the background */
}

.hero-content h1 {
    font-size: 36px; /* Adjust font size for the heading */
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; /* This pushes the footer to the bottom */
}

